* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	background-attachment: fixed;
}

#cess {
	position: fixed;
	top: 30px;
	right: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
}

#cess2 {
	position: fixed;
	top: -350px;
	right: -350px;
	width: 700px;
	animation: 20s animatee2 infinite;
}

#cess2 a {
	display: flex;
	justify-content: center;
	align-items: center;
}

#cess2 img{
	width: 100%;
}

@keyframes animatee2 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#cess img {
	width: 100%;
}

html::-webkit-scrollbar {
	display: none;
}

button {
	cursor: pointer;
}

header {
	width: calc(100% - 200px);
	min-height: calc(100vh - 200px);
	padding: 100px;
	background-image: url("/assets/images/pg1.png");
	background-size: cover;
	background-position: bottom;
}

header div {
	min-width: 75%;
	min-height: 100%;
}

header div h2 {
	font-weight: 700;
	font-size: 28px;
	color: #FFFFFF;
	text-indent: 2px;
}

header div h1 {
	font-style: normal;
	font-weight: 800;
	font-size: 86px;
	color: #FAFF00;
}

header div p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 46px;
	width: 60%;
	color: #FFFFFF;
}

header div button {
	width: 225px;
	height: 44px;
	background: #FFF500;
	border: none;
	border-radius: 50px;
	font-family: 'Poppins';
	font-size: 22px;
	margin-top: 5vh;
	font-style: normal;
	font-weight: 600;
	color: #282E36;
	cursor: pointer;
	transition: 0.2s ease;
}

header div button:hover {
	border: 2px solid #FFF500;
	background-color: transparent;
	color: #FFF500;
}

.btn-cess {
	border: 2px solid #FFF500;
	background-color: transparent;
	color: #FFF500;
}

.btn-cess:hover {
	background: #FFF500;
	border: none;
	color: #282E36;
}

header div footer {
	margin-top: 15vh;
}

header div footer h3 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 44px;
	color: #FAFF00;
}

header div footer {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	gap: 50px 100px;
}

header div footer figure {
	margin-top: 10px;
}

header div footer figure img {
	width: 250px;
}

.imagee {
	width: 100px;
}

header div footer img {
	width: 250px;
}

section {
	background-size: cover;
	background-position: center;
}

#pg1 {
	width: calc(100% - 200px);
	min-height: calc(100vh - 200px);
	padding: 100px;
	background-image: url("/assets/images/pg2.png");
	display: flex;
	flex-wrap: wrap;
	color: #000000;
	gap: 100px;
}

#pg1 div:nth-child(1) {
	max-width: 40%;
	height: 40%;
	margin: auto;
}

#pg1 div:nth-child(1) figure {
	position: absolute;
	z-index: 0;
	width: 400px;
	height: 500px;
	background: #FFF100;
	filter: blur(131px);
	animation: 1.5s glow infinite alternate ease-in-out;
}

@keyframes glow {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#pg1 div:nth-child(2) {
	max-width: 50%;
	margin: auto;
}

#pg1 div img {
	position: relative;
	width: 100%;
	display: flex;
	margin: auto;
	z-index: 2;
}

#pg1 div p {
	color: rgba(0, 0, 0, 0.8);
}

#pg1 div button {
	color: #EAA221;
}

#pg1 div button:hover {
	color: rgba(0, 0, 0, 0.8);
	background-color: transparent;
}

#pg1 div h1, #pg2 div h1, #pg3 div h1 {
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 600;
	font-size: 55px;
}

#pg1 div p, #pg2 div p, #pg3 div p {
	font-weight: 600;
	font-size: 20px;
	line-height: 35px;
	margin-top: 20px;
}

#pg2 div p {
	width: 45%;
}

#pg1 div button, #pg2 div button, #pg3 div button {
	background: rgba(0, 0, 0, 0.8);
	border: 2.5px solid rgba(0, 0, 0, 0.8);
	border-radius: 50px;
	padding: 7px 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	transition: 0.2s ease;
	margin: 50px auto;
}

#pg2 {
	background-image: url("/assets/images/pg3.png");
	color: white;
	width: calc(100% - 200px);
	min-height: calc(100vh - 300px);
	padding: 150px 100px;
}

#pg2 div {
	width: 100%;
}

#pg3 div {
	float: right;
}

#pg3 p {
	width: 60%;
}

#pg2 div button {
	background-color: white;
	border: 2.5px solid white;
	color: #3D0101;
}

#pg2 div button:hover, #pg3 div button:hover {
	background-color: transparent;
	color: white;
}

#pg3 {
	background-image: url("/assets/images/pg4.png");
	color: white;
	width: calc(100% - 300px);
	min-height: calc(100vh - 200px);
	padding: 100px 150px;
	background-position: right;
}

#pg3 div {
	width: 70%;
}

#pg3 div h1 {
	margin-bottom: 30px;
}

#pg3 nav {
	display: flex;
	justify-content: end;
}

#pg3 div button {
	border: 2.5px solid white;
	background-color: white;
}

@media screen and (max-width: 780px) {	
	header {
		width: calc(100% - 40px);
		min-height: calc(100vh - 140px);
		padding: 70px 20px;
		background-position: right;
	}

	header div h1 {
		font-size: 52px;
	}

	header div p {
		font-size: 20px;
		width: 90%;
	}

	#pg1 {
		width: calc(100% - 40px);
		min-height: calc(100vh - 100px);
		padding: 50px 20px;
		background-image: url("/assets/images/pg2.png");
		display: flex;
		flex-wrap: wrap;
		gap: 100px;
	}

	#pg1 div:nth-child(1) {
		max-width: 100%;
	}

	#pg1 div:nth-child(2) {
		max-width: 100%;
	}

	#pg1 div img {
		width: 200px;
		display: flex;
		margin: auto;
	}

	#pg1 div:nth-child(1) figure {
		left: 15%;
		width: 300px;
		height: 300px;
		filter: blur(80px);		
	}

	#pg2, #pg3 {
		width: calc(100% - 60px);
		height: calc(100vh - 60px);
		padding: 100px 30px;
	}

	#pg2 div p {
		width: 100%;
	}

	#pg3 div h1 {
		text-align: left;
	}

	#pg3 p {
		width: 95%;
		text-align: left;
		float: none;
	}

	#pg3 {
		background-position: -200px;
	}

	#pg3 p {
		margin-left: unset;
	}
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal ul {
	margin: 20px auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
	* {
		background-attachment: unset;
	}

	#cess {
		animation: 10s animatee2 infinite alternate;
	}

	#cess2 img {
		position: absolute;
	}

	#pg3 div {
		width: 100%;
	}

	#cess {
		width: 50px;
	}
}